<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles1.css') }}">
    <title>AI-Driven Optimization of 5G Resource
        Allocation</title>
</head>
<body> 
    <div class="banner"></div>
      <div class="content1">
        <h1>AI-Driven Optimization of 5G Resource
            Allocation for Network Efficiency</h1>
        <b>Welcome to our website where we use advanced technology to predict the network allocation.<br>
           Our state-of-the-art model  are designed to make the work quickly and <br> accurately .</b>
        <div>
           
            <button><a href="/index">PREDICT</a></button>

        </div>
</body>
</html>